#tf-info-container {
  padding: 10px;
  background-color: #006;
  color: white;
}

.tf-action-area {
  position: relative;
}
.tf-loader, .loader-visible {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: white;
  opacity: 0.5;
  text-align: center;
}
.tf-loader > .fa-spinner {
  animation: spinner-rotation 1.7s linear infinite;
}

.loader-visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tf-upload-area {
  /*display: none;*/
  padding: 15px;
  background-color: whitesmoke;
}

@keyframes spinner-rotation {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
#tf-image {
  display: none !important;
}
