{{ attach_library('login_tensorflow/tensorflow') }}
{{ attach_library('login_tensorflow/custom') }}
<input type="hidden" id="model_data_path" value="{{ modelDataPath }}">
<input type="hidden" id="model_data_path_custom_file" value="{{ modelDataPathCustomFile }}">
<input type="hidden" id="count_users" value="{{ countUsers }}">
<input type="hidden" id="tf_confidence" value="{{ tfConfidence }}">
<input type="hidden" id="tf_manage_token" value="{{ tfManageToken }}">

<div class="jumbotron">
  <h2>{{ 'What is it?'|t }}</h2>
  <p>
    {{ 'This is image recognition system, based on <a target="_blank" href="https://ml5js.org/">ml5.js</a>, which is
    JavaScript implementation of <a target="_blank" href="https://www.tensorflow.org/">Tensorflow</a> Machine Learning
    framework.'|t }}
  </p>
  <p>{{ 'The system will provide functionality to use custom images, which are assigned to a specific user. That way
  later, when the user is trying to login, he can use image/photo to do so. If the system find positive match between
   previously uploaded images and newly provided image, the user will be automatically logged in!'|t }}</p>
  <h2>{{ 'How it works?'|t }}</h2>
  <p>
    {{ 'First you should provide pictures to "train" the model. To do so, please FIRST choose the desired user
    from the dropdown, then select images from the file button of "train" section'|t }}
  </p>
  <p>
    {{ 'After you\'re done with uploading image for at least ONE user, go and click "Train" button.'|t }}
  </p>
  <p>
    {{ 'In seconds the system will auto download for you exactrly 2 files! Please use "Upload model data section"
    to upload those files back to the site. Than the train process is done and you and your users can start using
    the new functionality! Enjoy!'|t }}
  </p>
  <p>
    <em>
      {{ 'As an admin, you\'re provided option to testing the image recognition. To do so, you can use
      "Test for prediction section" to upload image and test it for correctness.'|t }}
    </em>
  </p>
</div>

<div id="tf-info-container">
</div>
<hr/>
<div class="tf-action-area">
  <div class="tf-loader"><i class="fas fa-spinner fa-10x"></i></div>
  <div>
    <h3>{{ 'Please select for which user do you want to train the AI'|t }}</h3>
    {{ userSelector }}
  </div>
  <hr/>
  <h3><strong>{{ 'Train section'|t }}</strong></h3>
  <h4>{{ 'Please provide pictures to train the model for the SELECTED user above.'|t }}</h4>
  <input type="file"
         id="tf-images-for-training"
         name="image"
         multiple
         accept="image/png,image/jpeg,image/bmp"/>
  <button class="btn btn-primary" id="tf-images-for-training-submit">{{ 'Upload model data'|t }}</button>
  <hr/>

  <h3><strong>{{ 'Test for prediction section'|t }}</strong></h3>
  <input id="tf-image-for-predict"
         type="file" accept="image/png,image/jpeg,image/bmp"/>
  <button class="btn btn-primary" id="tf-images-for-predict-submit">{{ 'Predict'|t }}</button>
  <img id="tf-image"/>
  <hr/>

</div>
